.texth2
{ color: aqua;
  font-family: serif;
  font-size: 32px;
  text-align: center;
}
.Titleuser
{
     margin-top: 180PX;
    margin-left: 200px;
    /* padding-right: 50px; */
    /* padding-bottom: 50px; */
    /* padding-top: 50px; */
    width: 32%;
    height: 10%;
    /* justify-content: space-evenly; */
    color: rgb(110, 107, 107);
    
}
.Titleselect
{
 
   margin-top: -125px;
   margin-bottom: 50px;
   margin-left: 850px;
   margin: right 0px;
    width: 35%;
    height: 20%;
    color: rgb(104, 101, 101);
}
.Titleuser 
.Titleselect
{
    justify-content: space-between;
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
}




.Forpatients
{
    background: hsl(172, 100%, 40%);
    width: 15%;
    height:40vh;
    margin-left:20%;
    border-radius: 9PX;
    padding: 1%;
}
.Fordoctors{

    background: #3d83df;
    width: 15%;
    margin-left: 9%;
    padding: 1%;  
    height:40vh;
    border-radius: 5PX;
}
.Forclinics{
    background: #1b2734;
    width: 15%;
    margin-left: 9%;
    padding: 1%; 
    height:40vh;
    border-radius: 5PX;
}
.card{

    display: flex;


}
.fondColor{
    color: white;
    font-size: 19PX;
}
.list{
    
    list-style: none;
    display: flex;
    margin-left: 150PX;
    
}

.listNav
{
   
    display: flex;
    margin-left: 50%;
    margin-top: -30px;
    font-weight: 900;
   
   
}
a.button1 
{
    color: #2e2b2bac;
    text-decoration: none;
    overflow: hidden;
}
a.button2
{
    color: #2e2b2bac;
    text-decoration: none;
    overflow: hidden;
}
a.button3
{
    color: #2e2b2bac;
    text-decoration: none;
    overflow: hidden;
}
a:hover
{
    color: rgb(92, 211, 211);
}



.navBar
 
{   position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index:3;
    background: #f9f9f9;
    box-shadow: #1b2734; 
}
.img2
{
    margin-left: 50%;
}
 .Title
{  float: none;
    padding: 50px;
    text-align: center; 
    width: 40%;
    color: aqua;
}
.brands__logos
{    display: flex;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    width: 67%; 
    list-style-type: none;
}
.link
{
  width: 250px;
  height: 50px;
  margin: 10px;
  align-items: center;
  grid-column: 20px;
   }
.platform
{ 
    height: 85vh;
    width: 100%;
    background:#abf3e9 ;
}
.group
{
    font-size: 2.125rem;
    color: #2d8883;
    padding: 20px;
    text-align: left;
    margin: 100px;   
    height: 5px;    
}  
.tex
{
    margin: 100px;  
} 
.leader
{
     background:rgb(255, 254, 253);
     width: 250px;
     height: 200px;  
     text-align: center;
     margin-left: 40%;
     margin-top: -14%;
      padding:5px;
}
.appointmens
{
     background:rgb(244, 243, 247);
     width: 250px;
      height: 200px;
      text-align: center; 
      margin-left: 60%;
      margin-top: -20%; 
      padding:5px;
}
.patients
{
       background:rgb(246, 247, 244);
       width: 250px;
       height: 200px;  
       text-align: center;
       margin-left: 40%;
       margin-top: 60px;
       padding: 5px;
}    
.activedoctors
{
    background:rgb(247, 245, 250);
    width: 250px;
    height: 200px;  
    text-align: center;
    margin-left: 60%;
    margin-top: -20%;
    padding:5px;
}
.offices
{
 margin-left: 35%;
 margin-top: 5%;
 
}
.lives{
   color:#00b39b;
   font-size: 40px;
}
.More
{
    color:#747474;
    font-size: 15px;
    width: 57%;
}
.cardPub{
width: 311PX;
height: 58vh;
border-radius: 1%;
margin-left: 8%;
margin-top: 3%;
}
.cardPub:hover{
    box-shadow: 5px 5px 5px 5px #747474;
}
.image{
    border-radius:1% ;
}
.titleCard{
    color:#747474;
    padding:11px; 
    margin-top: -11px;
    font-size: 20px;
}
.butnCard{
border: rgb(42, 100, 194);
    border-radius: 2%;
    width: 120PX;
    height: 40PX;
    margin-left: 100px;
    background-color:  rgb(42, 100, 194);
} 
.btnAndTitle{
    display: flex;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.join
{
    text-align: center;
    margin-top: 10px;
    font-family: Work ;
}
.texttt
{
    background-color: #3d83df;
    padding:11px;

}
@media (max-width: 576px) {
    .navBar{      
    position:fixed;   
    top:0;
    left: 0;
    width: 100%;
    z-index:3;
    background: #f9f9f9;
    box-shadow: #1b2734;
    height: 100px; 
    }
    
    .logo{
        width: 300px;
        margin-left: 1%;
        margin-top: 10px;
        
    }
    .button1{
       margin-top: 40px;
       margin-left: -270px;
       height: 50px;
    }
    .button2{
        margin-top:40px ;
        margin-left: -310px;
        height: 50px;
    }
    .button3{
        margin-top: 40px;
        margin-left: -350px;
        height: 50px;
    }
    .img2
    {
       margin-left: 45%;
    }
    .texth2
    {
        width: 90%;
    }
    .Titleuser
    {
       margin-top: 0px;
       margin-left: 10px;
       width: 90%;
    }
    .Titleselect
    {
      margin-left: 10px;
      margin-top: 50px;
      width: 90%;
    }
    .Forpatients{
       margin-left: 10px;
       margin-right: 20px;
       width: 130px;
       
    }
    .Fordoctors{
        margin-left: 10px;
        margin-right: 20px;
        width: 130px;
    }
    .Forclinics{
        margin-left: 10px;
        margin-right: 20px;
        width: 130px;
    }
    .Title{
        margin-top: 20px;
        margin-left: 20px;
        width: 80%;
        justify-content: center;
    
    }
    .brands__logos.link
    {
        margin-top: 100px;
    }
    .link
    {   
       margin-top: 20px;
       margin-left: 10px;
       margin-bottom: 10px;
    }
}  